---
import Appbar from "@/components/Appbar.astro";
import "@/styles/globals.css";
import MainLayout from "./MainLayout.astro";

const { title, description, image, articleDate, articleAuthor } = Astro.props;
---

<!-- <body class="relative">
  <section class="relative flex flex-col min-h-screen bg-gray-50 dark:bg-[#0a0910]">
    <Appbar white/>

    <main class="flex flex-1 ">
      <slot />
    </main>

  </section>
  <Toaster client:load />

</body> -->
<MainLayout
  title={title}
  description={description}
  image={image}
  articleDate={articleDate}
  articleAuthor={articleAuthor}
>
  <section
    class="relative flex flex-col min-h-screen bg-gray-50 dark:bg-[#0a0910]"
  >
    <Appbar white />

    <main class="flex flex-1">
      <slot />
    </main>

    <!-- <Footer /> -->
  </section>
</MainLayout>
